.editor__preview-container {
  height: 100%;
  flex: 1;
  padding: var(--padding-container);
  position: relative;
}

.editor__preview-container.hidden {
  display: none;
}
.editor__preview {
  border: var(--editor-main-border);
  padding-right: 0.2em;
  /* background-image: var(--grad-panes-gradient); */
  color: var(--clr-text-primary);
  background-image: var(--grad-preview);
  line-height: 1.9;
  font-size: 0.9rem;
  border-radius: 0.2rem;
  height: 100%;
  max-height: 100%;
  padding: var(--padding-2);
  overflow-y: auto;
}

.editor__preview.markdown-body {
  font-size: 1rem;
  line-height: 1.6;
  font-family: 'Fira Code', monospace;
}

.editor__preview.markdown-body h1 {
  font-weight: bold;
  color: rgb(236, 77, 77);
}

.editor__preview.markdown-body p {
  line-height: 1.7;
}

.editor__preview.markdown-body h1:hover:before {
  content: '# ';
  color: #333;
}
.editor__preview.markdown-body h2:hover:before {
  content: '## ';
  color: #333;
}

.editor__preview.markdown-body h3:hover:before {
  content: '### ';
  color: #333;
}

.editor__preview.markdown-body h4:hover:before {
  content: '#### ';
  color: #333;
}
.editor__preview.markdown-body h5:hover:before {
  content: '##### ';
  color: #333;
}
.editor__preview.markdown-body h6:hover:before {
  content: '###### ';
  color: #333;
}
.editor__preview.markdown-body h2,
h3,
h4,
h5,
h6 {
  color: rgb(36, 240, 128) !important;
}

.editor__preview.markdown-body :not(pre) > code {
  background-color: #222;
  color: hotpink;
  font-weight: bold;
  font-style: italic;

  border: 1px solid var(--clr-border);
}

.editor__preview.markdown-body img {
  border-radius: 7px;
  cursor: pointer;
}
.editor__preview.markdown-body pre {
  background-color: rgba(27, 31, 35, 0.164) !important;
  border-radius: 6px;
  padding: var(--padding-1);
  margin: 0.3rem 0;
  padding: var(--padding-2);
  border: 1px solid #272727;
}
@media (min-width: 40em) {
  .editor__preview.markdown-body pre {
    max-width: 50em;
  }
}
.editor__preview.markdown-body * p {
  word-break: break-all !important;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
}
.editor__preview-container > .resizer {
  position: absolute;
  height: 100%;
  opacity: 0.2;
  --resizer-width: 10px;
  left: calc(var(--resizer-width) / 2 * -1);
  width: var(--resizer-width);
  top: 0;
  z-index: 100;
  /* background-color: rgba(255, 0, 0); */
  transition: all 0.2s ease;
  cursor: w-resize;
}

.editor__preview-container > .resizer::after {
  content: '';
  position: absolute;
  width: 1px;
  top: 0;
  left: calc(var(--resizer-width) / 2);
  background-color: #434343;
  height: 100%;
}

.editor__preview-container > .resizer:hover {
  opacity: 1;
}

.editor__preview-container.dragging .resizer {
  opacity: 1;
}
