.editor__repl-container {
  height: 100%;
  flex: 1;
  padding: var(--padding-container);
  position: relative;
}
.editor__repl-container.hidden {
  display: none;
}
.editor__repl {
  border: var(--editor-main-border);
  padding-right: 0.2em;
  background-image: var(--grad-panes-gradient);
  border-radius: 0.2rem;
  height: 100%;
  max-height: 100%;
  padding: var(--padding-1);
  overflow-y: auto;
}

.editor__repl .ͼ11.ͼ13 {
  color: #444 !important;
}
