.main__sidebar {
  padding: var(--padding-container);
  position: relative;
  transition: all 0.2s ease;
  animation: width-in 500ms ease forwards;
}
@keyframes width-in {
  from {
    width: 0;
  }
  to {
    width: 200;
  }
}
.main__sidebar.hidden {
  display: none;
}

.main__sidebar__modern {
  border: var(--editor-main-border);
  background-image: var(--grad-panes-gradient);
  border-radius: 0.2rem;
  padding: var(--padding-1);
  height: 100%;
}

.main__sidebar__modern > * {
  opacity: 0;
  animation: fade-over 300ms ease 300ms forwards;
}

@keyframes fade-over {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main__sidebar__modern:hover .controls,
.main__sidebar__modern:focus-within .controls {
  opacity: 1;
}

.main__sidebar > .resizer {
  position: absolute;
  height: 100%;
  opacity: 0.2;
  --resizer-width: 10px;
  left: calc(100% - var(--resizer-width) / 2);
  width: var(--resizer-width);
  top: 0;
  z-index: 100;
  /* background-color: rgba(255, 0, 0, 0.2); */
  transition: all 0.2s ease;
  cursor: w-resize;
}

.main__sidebar > .resizer::after {
  content: '';
  position: absolute;
  width: 1px;
  top: 0;
  left: calc(var(--resizer-width) / 2);
  background-color: #434343;
  height: 100%;
}

.main__sidebar > .resizer:hover {
  opacity: 1;
}

.main__sidebar.dragging .resizer {
  opacity: 1;
}
.main__sidebar.dragging .resizer {
  opacity: 1;
}
.sidebar-modern__header {
  padding: 0.7rem 0.5rem;
  display: flex;
  justify-content: space-between;
}

.main__sidebar:hover .sidebar-modern__header__left {
  color: var(--clr-text-primary);
}
.sidebar-modern__header__left {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: var(--text-gray);
  transition: color 0.2s ease;
}
.sidebar-modern__header svg {
  font-size: 1.5rem;
}
