.sidebar-expandable_container__button {
  background-color: transparent;
  padding: 0.2rem 0.4rem;
  margin-bottom: 0.2rem;
  color: #999999;
  border: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  user-select: none;
}
.sidebar-expandable_container__button:hover
  .sidebar-expandable_container__button__options,
.sidebar-expandable_container__button:focus-within
  .sidebar-expandable_container__button__options {
  opacity: 1;
}

.sidebar-expandable_container__button__left {
  display: flex;
}
.sidebar-expandable_container__button__text {
  font-size: 0.8rem;
}
.sub-pages-count {
  margin-left: 0.5rem;
  display: inline-block;
  color: #626264;
  font-weight: bold;
  width: fit-content;
}
.sidebar-expandable_container__button:hover {
  background-color: rgba(255, 255, 255, 0.055);
}
.sidebar-expandable_container__button.active {
  background-color: rgba(255, 255, 255, 0.062);
  color: #fff;
}

.sidebar-expandable_container__button .icon {
  margin-right: 0.4rem;
}
.sidebar-expandable_container__button div {
  display: flex;
}

.sidebar-expandable_container__button__options {
  opacity: 0;
  transition: all 0.2s ease;
}

.sidebar-expandable_container__button__options button {
  margin-inline: 0.2rem;
}

.sidebar-expandable_container__button__left {
  display: flex;
  align-items: center;
}
.sidebar-expandable_container__subpage {
  padding-left: 0.7rem;
}
.sidebar-expandable_container__no-sub-pages {
  padding: 0.2rem 0;
  font-size: 0.8rem;
  font-weight: light;
  color: #585858;
  padding-left: 2rem;
}
