.app__home {
  height: 100%;
  padding: 1rem 0;
}

.app__home__container {
  display: grid;
  gap: 0.6rem;
  grid-template-rows: auto 1fr;
  position: relative;
  place-items: center;
}
.app__home__container::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to bottom,
    transparent 90%,
    var(--clr-background)
  );
  pointer-events: none;
  z-index: 10;
}
